<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuTuneUp"
        tools:targetApi="31">
        <activity
            android:name=".LatestAddedActivity"
            android:exported="false" />
        <activity
            android:name=".MostPlayedSongsActivity"
            android:exported="false" />
        <activity
            android:name=".NEWHOMEACTIVITY"
            android:exported="false" />
        <activity
            android:name=".ArtistActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.actions" -->
        <!-- android:resource="@drawable/ic_skip_previous.xml" /> -->
        <!-- <activity -->
        <!-- android:name="." -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".UploadMusicActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".AnimationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>